*{
    list-style-type: none;
}

/* Variáveis do projeto */
:root
{
    --radius:5px;
    --pading:7px;
    --gap:5px;
    --bg-color-menu:#198754;
    --fonte:Arial, Helvetica, sans-serif;   
    --tamanho-fonte-texto:12px;
    --tamanho-fonte-titulo:14px;
    --tamanho-fonte-menu:18px;
    --cor-fonte-menu:#333;
    --cor-fonte-conteudo:#FFFFFF;
    --opacidade: ;
}

body
{
    margin: 0;
    font-family: var(--fonte);
}

.container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}   


/* Configurações do menu */
.menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items
{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    font-size: 18px;
}
.menu-items li{margin-left: 15px}

.menu-items li:first-child
{
    margin-left: 20px;
}
.menu-items li a
{
    text-decoration: none;
    color: var(--cor-fonte-menu);
}
.menu li::before 
{
    content: "| "; /* Insere o "|" e um espaço antes */
    display: inline-block; /* Torna o elemento inline */
    margin-right: 10px; /* Adiciona espaço à direita */
}
.menu li:first-child::before {
    content: ""; /* Remove o "|" do primeiro item */
  }
.menu-items li a:hover
{
    text-decoration: underline;
    font-weight: bold;
}
.botao-doacao-index button
{
    margin-right: 15px;
    padding: 5px 10px;
    background-color: crimson;
    color: var(--cor-fonte-conteudo);
    border: 0;
    border-radius: var(--radius);
    width: 150px;
    height: 35px;
    font-weight: bold
}

/* Configurações do footer */
footer
{
    color: var(--cor-fonte-conteudo);
    background-color: var(--bg-color-menu);
    border-radius: 0;
    padding: var(--pading);
}
.container-footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-section
{
    flex: 1;
    max-width: 30%;
    text-align: left;
}
.footer-bottom
{
    margin: 0;
    vertical-align: baseline;
    text-align: center;
    font-size: 10px;
}
.footer-section strong
{
    text-align: center;
}
.footer-section li a
{
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
}
.footer-section li a:hover
{
    font-weight: bold
}
footer ul li
{
    padding-bottom: 5px;
}

/* Cofigurações do main */
.main-container
{
    display: flex;
    margin: var(--gap);
}

.row
{
    padding: var(--pading);
    align-items: center;
    justify-content: space-evenly;

}

.row p{text-align: justify;}
